#title{
    height: 40px;
    width: 100%;
    background-color:#313131;
    display: flex;
    justify-content:space-between;
    color: white;
    font-size: 18px;
}
#title-left{
height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
}
#title-center{
    height: 40px;
    flex: 1;
}
#title-right{
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#title-add{
    height: 20px;
    width: 20px;
    background-image: url("../photo/添加好友.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

