#dynamic{
   flex: 1;
    width: 100%;
    background-color:#e0e0e0;
    overflow:scroll;
}
#search-area{
height: 45px;
    background-color:#e0e0e0;
}
#search{
    height: 30px;
    width: 96%;
    background-color:#F5F5F5;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
#sousuo{
    width: 50px;
    height: 24px;
    color: #9e9e9e;
}
#fangda{
    width: 20px;
    height: 20px;
    background-image: url("../photo/搜索.svg");
}
#audio{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    background-image: url("../photo/语音.svg");
}

#searchline{
    width: 10px;
    margin-right: 5px;
    line-height: 15px;
    font-size: 9px;
    color: #616161;
    position: fixed;
    right: 0px;
    top:20%;
}

#friendsearch{
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3px;
    top: -12px;
    background-image: url(../photo/好友搜索.svg);
}



.background{
    height: 45px;
    width: 100%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    border-bottom:1px solid #bdbdbd;
}

.chat-item{
    height: 40px;
    width: 96%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.item-left{
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.item-leftp{
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

}
.item-right{
    margin-left: 10px;
    height: 33px;
    flex: 1;
    display: flex;
    align-items: center;
}
.nickname{
    height: 31px;
    font-size: 14px;
    flex: 1;
    color: #212121;
    line-height: 30px;
}

#separate{
    height: 16px;
    width: 100%;
    background-color:#e0e0e0;
}
#AZ{
    height: 13px;
    width: 90%;
    line-height: 15px;
    color:#9e9e9e;
    margin-left: 6px;
    font-size: 10px;
}



.itemall{
    margin-left: 10px;
    height: 55px;
    flex: 1;
}
.nickname1{
    height: 20px;
    font-size: 17px;
    line-height: 20px;
    flex: 1;
    margin-top: 10px;
    color: #212121;
}
.content-top{
    height: 17px;
    display: flex;
    justify-content: flex-end;
}
.content-bottom{
    display: flex;
    justify-content: center;
}
.content-text{
    height: 20px;
    flex: 1;
    font-size: 13px;
    color:#212121;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.dynamic-end{
    height: 50px;
    width: 100%;
    color:#bdbdbd;
    font-size: 17px;
}
#find-photo{
    background-image: url(../photo/1.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    height: 31px;
    width: 31px;
}
#in{
    height: 31px;
    width: 31px;
    background-image: url(../photo/大于号.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.头像红点{
    position:relative;
}

.redpoin{
    width:8px;
    height:8px;
    line-height:15px;
    color:#fff;
    text-align:center;
    background-color:#e51c23;
    border-radius:50%;
    position:absolute;
    right:-6px;
    top:-3px;
}
.background1{
    height: 80px;
    width: 100%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    border-bottom:1px solid #bdbdbd;
}
.chat-item1{
    height: 65px;
    width: 96%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /*justify-content: space-between;*/
}
#rightarea{
    height: 60px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area{
    height: 60px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#erwei{
    height: 31px;
    width: 31px;
    background-image: url(../photo/二维码.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}