#dynamic{
    flex: 1;
    width: 100%;
    background-color:#F5F5F5;
    overflow:scroll;
}
#search-area{
    height: 45px;
    background-color:#e0e0e0;
}
#search{
    height: 30px;
    width: 96%;
    background-color:#F5F5F5;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
#sousuo{
    width: 50px;
    height: 24px;
    color: #9e9e9e;
}
#fangda{
    width: 20px;
    height: 20px;
    background-image: url("../photo/搜索.svg");
}
#audio{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    background-image: url("../photo/语音.svg");
}
.chat-item{
    height: 65px;
    width: 96%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.chat-item1{
    height: 65px;
    width: 96%;
    background-color:#e0e0e0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /*justify-content: space-between;*/
}
.background{
    height: 65px;
    width: 100%;
    background-color:#e0e0e0;
    display: flex;
    align-items: center;
    border-bottom:1px solid #bdbdbd;
}
.background1{
    height: 65px;
    width: 100%;
    background-color:#f5f5f5;
    display: flex;
    align-items: center;
    border-bottom:1px solid #bdbdbd;
}

.item-left{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.item-right{
    margin-left: 10px;
    height: 50px;
    flex: 1;
}
.content-top{
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
.nickname{
    height: 30px;
    font-size: 17px;
    flex: 1;
    color: #212121;
}
.time{
    height: 30px;
    width: 80px;
    font-size: 10px;
    color:#757575;
    text-align: right;
}
.content-bottom{
    display: flex;
    justify-content: center;
}
.content-text{
    height: 20px;
    flex: 1;
    font-size: 15px;
    color:#757575;
    text-align: left;
}
.silence{
    height: 20px;
    width: 20px;
    background-image: url("../photo/静音.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.content-audio{
    height: 20px;
    flex: 1;
    font-size: 15px;
    color:red;
    text-align: left;
}

.头像红点{
    width:50px;
    margin-bottom:4px;
    position:relative;
}

.redpoin{
    width:15px;
    height:15px;
    line-height:15px;
    font-size:8px;
    color:#fff;
    text-align:center;
    background-color:#e51c23;
    border-radius:50%;
    position:absolute;
    right:-7px;
    top:-5px;
}